<header class="member-wrap">
	<div class="container songti font12">
		<a href="__MODULE__/User/member"><img src="__PUBLIC__/assets/img/mb-logo.png"/></a>
		<span>你好 <span class="orange"><strong>{$Think.session.account}</strong></span> 用户</span>
        <span style="margin-left:20px;color: #ededed">上次登陆时间：{$Think.session.member_list_logintime|date='Y年m月d日 H:i:s', ###} </span>
		<span class="pull-right font12"><a href="__APP__">网站首页</a> | <a href="__MODULE__/Free">免费发布</a></span>
	</div>
</header>