<aside class="pull-left list-lf">
    <div class="panel panel-default panel-info my-news list-title">
        <div class="panel-heading font14">
            置顶信息 <span class="pull-right"><a href="#" >我要置顶</a></span>
        </div>
        <ul class="list-group my-info-top font12 songti">
            <li class="list-group-item" style="border:0;line-height: 15px;"><a class="text-muted red" href="#" data-toggle="tooltip" title="出售五菱宏光出售五菱宏光出售五菱宏光出售五菱宏光">出售五菱宏光</a> <span class="pull-right text-muted">12-9</span></li>
            <li class="list-group-item" style="border:0;line-height: 15px;"><a class="text-muted" href="#" title="###">新款儿童秋装上市</a> <span class="pull-right text-muted">12-9</span></li>
            <li class="list-group-item" style="border:0;line-height: 15px;"><a class="text-muted" href="#" title="###">出售五菱宏光出售五菱宏光</a> <span class="pull-right text-muted">12-9</span></li>
            <li class="list-group-item" style="border:0;line-height: 15px;"><a class="text-muted" href="#" title="###">新款儿童秋装上市，欢迎订购</a> <span class="pull-right text-muted">12-9</span></li>
            <li class="list-group-item" style="border:0;line-height: 15px;"><a class="text-muted green" href="#" title="###">新款儿童秋装上市，欢迎订购</a> <span class="pull-right text-muted">12-9</span></li>
            <li class="list-group-item" style="border:0;line-height: 15px;"><a class="text-muted" href="#" title="###">新款儿童秋装上市购</a> <span class="pull-right text-muted">12-9</span></li>
            <li class="list-group-item" style="border:0;line-height: 15px;"><a class="text-muted" href="#" title="###">新款儿童秋市，欢迎订购</a> <span class="pull-right text-muted">12-9</span></li>
            <li class="list-group-item" style="border:0;line-height: 15px;"><a class="text-muted" href="#" title="###">新款儿童秋装上市，迎订购</a> <span class="pull-right text-muted">12-9</span></li>
            <li class="list-group-item" style="border:0;line-height: 15px;"><a class="text-muted" href="#" title="###">新款儿童秋装上市，欢迎订购</a> <span class="pull-right text-muted">12-9</span></li>
            <li class="list-group-item" style="border:0;line-height: 15px;"><a class="text-muted" href="#" title="###">新款儿童秋装上市订购</a> <span class="pull-right text-muted">12-9</span></li>
            <!--                    --><?php //for($i = 0;$i<10;$i++) :?>
            <!--                        <li class="list-group-item" style="border:0;line-height: 15px;"><a class="text-muted" href="#" title="###">新款儿童秋装上市，欢迎订购</a> <span class="pull-right text-muted">12-9</span></li>-->
            <!--                    --><?php //endfor;?>
        </ul>
    </div>
    <div class="list-adver"><a href=""><img src="__PUBLIC__/assets/img/ad2.jpg" alt=""/></a></div>
    <div class="panel panel-default panel-info my-news list-title">
        <div class="panel-heading font14">
            推荐信息
        </div>
        <ul class="list-group my-info-top font12 songti">
            <li class="list-group-item" style="border:0;line-height: 15px;"><a class="text-muted red" href="#" data-toggle="tooltip" title="出售五菱宏光出售五菱宏光出售五菱宏光出售五菱宏光">出售五菱宏光</a> <span class="pull-right text-muted">12-9</span></li>
            <li class="list-group-item" style="border:0;line-height: 15px;"><a class="text-muted" href="#" title="###">新款儿童秋装上市</a> <span class="pull-right text-muted">12-9</span></li>
            <li class="list-group-item" style="border:0;line-height: 15px;"><a class="text-muted" href="#" title="###">出售五菱宏光出售五菱宏光</a> <span class="pull-right text-muted">12-9</span></li>
            <li class="list-group-item" style="border:0;line-height: 15px;"><a class="text-muted" href="#" title="###">新款儿童秋装上市，欢迎订购</a> <span class="pull-right text-muted">12-9</span></li>
            <li class="list-group-item" style="border:0;line-height: 15px;"><a class="text-muted green" href="#" title="###">新款儿童秋装上市，欢迎订购</a> <span class="pull-right text-muted">12-9</span></li>
            <li class="list-group-item" style="border:0;line-height: 15px;"><a class="text-muted" href="#" title="###">新款儿童秋装上市购</a> <span class="pull-right text-muted">12-9</span></li>
            <li class="list-group-item" style="border:0;line-height: 15px;"><a class="text-muted" href="#" title="###">新款儿童秋市，欢迎订购</a> <span class="pull-right text-muted">12-9</span></li>
            <li class="list-group-item" style="border:0;line-height: 15px;"><a class="text-muted" href="#" title="###">新款儿童秋装上市，迎订购</a> <span class="pull-right text-muted">12-9</span></li>
            <li class="list-group-item" style="border:0;line-height: 15px;"><a class="text-muted" href="#" title="###">新款儿童秋装上市，欢迎订购</a> <span class="pull-right text-muted">12-9</span></li>
            <li class="list-group-item" style="border:0;line-height: 15px;"><a class="text-muted" href="#" title="###">新款儿童秋装上市订购</a> <span class="pull-right text-muted">12-9</span></li>
            <!--                    --><?php //for($i = 0;$i<10;$i++) :?>
            <!--                        <li class="list-group-item" style="border:0;line-height: 15px;"><a class="text-muted" href="#" title="###">新款儿童秋装上市，欢迎订购</a> <span class="pull-right text-muted">12-9</span></li>-->
            <!--                    --><?php //endfor;?>
        </ul>
    </div>
</aside>