<div class="pull-left member-menu">
    <ul>
        <li><a name="member" href="__APP__/User/member">我的资料</a></li>
        <li><a name="modify-pwd" href="__APP__/User/modify-pwd">修改密码</a></li>
        <li><a name="photo" href="__APP__/User/photo">修改头像</a></li>
        <li><a name="writeInfo" href="__APP__/User/writeInfo">我发布信息</a></li>
        <li><a name="mySay" href="__APP__/User/mySay">我的评论</a></li>
        <!--<li><a href="#">给站长留言</a></li>-->
        <!--<li><a href="#">站内信息</a></li>-->
        <li><a href="__APP__/User/outLogin">退出登录</a></li>
    </ul>
</div>