<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>湛江地区最大信息发布平台-{$sys.sys_name}</title>
    <include file='Public:header' />    <section class="container" style="margin-top:13px">
        <div class="pull-left my-notice">
            <div class="panel panel-default panel-info">
                <div class="panel-heading font14">
                    网站公告
                </div>
                <p class="my-notice-cn songti font12">
                    本网站是服务雷州半岛地区一个发布平台，方便大家，服务于家乡大家为宗旨，欢迎给网站提出宝贵意见！谢谢 <br/>
                    <span class="pull-right red">admin</span><br/><span class="pull-right">2016.2.3</span>

                </p>
            </div>
            <div class="panel panel-default panel-info my-qq">
                <a href="javascript:;"><img src="__PUBLIC__/assets/img/qq.gif" alt="qq咨询"/></a>
                <a href="javascript:;"><img src="__PUBLIC__/assets/img/weixin.gif" alt="微信咨询"/></a>
            </div>
        </div>
        <div class="pull-right">
            <div class="panel panel-default panel-info my-news">
                <div class="panel-heading font14">
                    置顶信息 <span class="pull-right"></span>
                </div>
                <ul class="list-group my-info-top font12 songti">
                    <volist name="listvo" id="listvo">
                        <?php
                           if($listvo['union_type'] == 1){ $href = "__APP__/Store/detail/id/".$listvo['id'].".html";}
                           if($listvo['union_type'] == 2){ $href = "__APP__/Happy/detail/id/".$listvo['id'].".html";}
                           if($listvo['union_type'] == 3){ $href = "__APP__/Car/detail/id/".$listvo['id'].".html";}
                           if($listvo['union_type'] == 4){ $href = "__APP__/Marry/detail/id/".$listvo['id'].".html";}
                           if($listvo['union_type'] == 5){ $href = "__APP__/House/detail/id/".$listvo['id'].".html";}
                           if($listvo['union_type'] == 6){ $href = "__APP__/Dianqi/detail/id/".$listvo['id'].".html";}
                           if($listvo['union_type'] == 7){ $href = "__APP__/Sea/detail/id/".$listvo['id'].".html";}
                           if($listvo['union_type'] == 8){ $href = "__APP__/Food/detail/id/".$listvo['id'].".html";}
                           if($listvo['union_type'] == 9){ $href = "__APP__/Farm/detail/id/".$listvo['id'].".html";}
                           if($listvo['union_type'] == 10){ $href = "__APP__/Edu/detail/id/".$listvo['id'].".html";}
                           if($listvo['union_type'] == 11){ $href = "__APP__/Recruit/detail/id/".$listvo['id'].".html";}
                           if($listvo['union_type'] == 12){ $href = "__APP__/Chang/detail/id/".$listvo['id'].".html";}
                           if($listvo['union_type'] == 13){ $href = "__APP__/Jiaju/detail/id/".$listvo['id'].".html";}
                           if($listvo['union_type'] == 14){ $href = "__APP__/Xiju/detail/id/".$listvo['id'].".html";}
                        ?>
                        <li class="list-group-item" style="border:0;line-height: 15px;">·<a href="<?php echo $href;?>" target="_blank" data-toggle="tooltip" title="{$listvo.title}">{$listvo.title|msubstr=0,15,'utf-8',true}</a> <span class="pull-right text-muted">{$listvo.add_time|date="m/d",###}</span></li>
                    </volist>
                </ul>
            </div>
        </div>
        <div class="pull-right">
            <div class="my-showdroppic carousel slide" id="myCarousel">
                <ol class="carousel-indicators">
                    <li class="active" data-target="#myCarousel" data-slide-to="0"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="javascript:;"><img src="__PUBLIC__/assets/img/pic1_a.jpg"/></a>
                    </div>
                    <div class="item">
                        <a href="javascript:;"><img src="__PUBLIC__/assets/img/pic2_a.jpg"/></a>
                    </div>
                    <div class="item">
                        <a href="javascript:;"><img src="__PUBLIC__/assets/img/pic3_a.jpg"/></a>
                    </div>
                </div>
                <a href="#myCarousel" data-slide="prev" class="carousel-control left">&lsaquo;</a>
                <a href="#myCarousel" data-slide="next" class="carousel-control right">&rsaquo;</a>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="text-center my-more">
            <h4 class="pull-left my-blue-bg font14">
                推荐铺面
            </h4>
            <span class="pull-left songti font12 my-exendnews"><span class="glyphicon glyphicon-volume-up"> </span><strong>推广信息：</strong> <sapn class="red">2016年猴年向大家拜年，恭贺新春！</sapn></span>
            <a class="pull-right" href="__APP__/Store" target="_blank">更多</a>
        </div>
        <div class="my-showpic" >
            <ul class="panel-heading" style="padding: 0 !important;">
                <volist name="dlist" id="dlist">
                    <li>
                        <a href="{:U('Store/detail',array('id' => $dlist['id']))}" target="_blank" title="{$dlist.title}"><img src="__APP__{$dlist.pic}"  alt="{$dlist.title}" title="{$dlist.title}"/></a>
                        <h4 class="songti font12 text-center my-absolute"><a href="{:U('Store/detail',array('id' => $dlist['id']))}" target="_blank" title="{$dlist.title}">{$dlist.title|msubstr=0,9,'utf-8',true}</a></h4>
                    </li>
                </volist>
            </ul>
        </div>
    </section>
    <section class="container index-list" style="margin-top:7px">
        <span class="pull-left"><strong><a href="__APP__/Store" target="_blank">店面大全：</a></strong></span>
        <span class="pull-left">
            <volist name="dpcolumn" id="dpcolumn">
                <a href="__APP__/Store?bf={$dpcolumn.column_name}" target="_blank" title="{$dpcolumn.column_name}">{$dpcolumn.column_name}</a>
            </volist>
        </span>
    </section>
    <section class="container index-list">
        <span class="pull-left"><strong><a href="__APP__/Happy" target="_blank">喜庆：</a></strong></span>
        <span class="pull-left">
            <volist name="xqscolumn" id="xqscolumn">
                <a href="__APP__/Happy?ars={$xqscolumn.column_name}" target="_blank" title="{$xqscolumn.column_name}">{$xqscolumn.column_name}</a>
            </volist>
        </span>
    </section>
    <section class="container index-list">
        <span class="pull-left"><strong><a href="__APP__/Car" target="_blank">汽车：</a></strong></span>
        <span class="pull-left">
            <volist name="qccolumn" id="qccolumn">
                <a href="__APP__/Car?tp={$qccolumn.column_name}" target="_blank" title="{$qccolumn.column_name}">{$qccolumn.column_name}</a>
            </volist>
        </span>
    </section>
    <section class="container index-list">
        <span class="pull-left"><strong><a href="__APP__/Marry" target="_blank">相亲：</a></strong></span>
        <span class="pull-left">
            <volist name="xqcolumn" id="xqcolumn">
                <a href="__APP__/Marry?ars={$xqcolumn.column_name}" target="_blank" title="{$xqcolumn.column_name}">{$xqcolumn.column_name}</a>
            </volist>
        </span>
    </section>
    <section class="container index-list">
        <span class="pull-left"><strong><a href="__APP__/House" target="_blank">房子：</a></strong></span>
        <span class="pull-left">
            <volist name="fzcolumn" id="fzcolumn">
                <a href="__APP__/House?tp={$fzcolumn.column_name}" target="_blank" title="{$fzcolumn.column_name}">{$fzcolumn.column_name}</a>
            </volist>
        </span>
    </section>
    <section class="container index-list">
        <span class="pull-left"><strong><a href="__APP__/Dianqi" target="_blank">电器：</a></strong></span>
        <span class="pull-left">
            <volist name="dqcolumn" id="dqcolumn">
                <a href="__APP__/Dianqi?tp={$dqcolumn.column_name}" target="_blank" title="{$dqcolumn.column_name}">{$dqcolumn.column_name}</a>
            </volist>
        </span>
    </section>
    <section class="container index-list">
        <span class="pull-left"><strong><a href="__APP__/Sea" target="_blank">海鲜：</a></strong></span>
        <span class="pull-left">
            <volist name="hxcolumn" id="hxcolumn">
                <a href="__APP__/Sea?tp={$hxcolumn.column_name}" target="_blank" title="{$hxcolumn.column_name}">{$hxcolumn.column_name}</a>
            </volist>
        </span>
    </section>
    <section class="container index-list">
        <span class="pull-left"><strong><a href="__APP__/Sea" target="_blank">美食：</a></strong></span>
        <span class="pull-left">
            <volist name="mscolumn" id="mscolumn">
                <a href="__APP__/Food?tp={$mscolumn.column_name}" target="_blank" title="{$mscolumn.column_name}">{$mscolumn.column_name}</a>
            </volist>
        </span>
    </section>
    <section class="container index-list">
        <span class="pull-left"><strong><a href="__APP__/Farm" target="_blank">农业：</a></strong></span>
        <span class="pull-left">
            <volist name="nycolumn" id="nycolumn">
                <a href="__APP__/Farm?tp={$nycolumn.column_name}" target="_blank" title="{$nycolumn.column_name}">{$nycolumn.column_name}</a>
            </volist>
        </span>
    </section>
    <section class="container index-list">
        <span class="pull-left"><strong><a href="__APP__/Edu" target="_blank">教育：</a></strong></span>
        <span class="pull-left">
            <volist name="jycolumn" id="jycolumn">
                <a href="__APP__/Edu?tp={$jycolumn.column_name}" target="_blank" title="{$jycolumn.column_name}">{$jycolumn.column_name}</a>
            </volist>
        </span>
    </section>
    <section class="container index-list">
        <span class="pull-left"><strong><a href="__APP__/Recruit" target="_blank">招聘：</a></strong></span>
            <span class="pull-left">
                <volist name="zpcolumn" id="zpcolumn">
                    <a href="__APP__/Recruit?tp={$zpcolumn.column_name}" target="_blank" title="{$zpcolumn.column_name}">{$zpcolumn.column_name}</a>
                </volist>
            </span>
    </section>
    <section class="container index-list">
        <span class="pull-left"><strong><a href="__APP__/Chang" target="_blank">厂家/批发/代理商：</a></strong></span>
            <span class="pull-left">
                <volist name="cjcolumn" id="cjcolumn">
                    <a href="__APP__/Chang?tp={$cjcolumn.column_name}" target="_blank" title="{$cjcolumn.column_name}">{$cjcolumn.column_name}</a>
                </volist>
            </span>
    </section>
    <section class="container index-list">
        <span class="pull-left"><strong><a href="__APP__/Jiaju" target="_blank">家居：</a></strong></span>
            <span class="pull-left">
                <volist name="jjcolumn" id="jjcolumn">
                    <a href="__APP__/Jiaju?tp={$jjcolumn.column_name}" target="_blank" title="{$jjcolumn.column_name}">{$jjcolumn.column_name}</a>
                </volist>
            </span>
    </section>
    <section class="container index-list">
        <span class="pull-left"><strong><a href="__APP__/Xiju" target="_blank">雷州剧：</a></strong></span>
            <span class="pull-left">
                <volist name="lzjcolumn" id="lzjcolumn">
                    <a href="__APP__/Xiju?tp={$lzjcolumn.column_name}" target="_blank" title="{$lzjcolumn.column_name}">{$lzjcolumn.column_name}</a>
                </volist>
            </span>
    </section>

    <footer class="container">
        <section class="my-friendship songti font12">
            <span><strong>友情链接：</strong></span>
            <volist name="link" id="link">
                <a href="http://{$link.plug_link_url}" title="{$link.plug_link_name}" target="_blank">{$link.plug_link_name}</a>&nbsp;|&nbsp;
            </volist>
        </section>
        <section class="text-center my-copy">
            <a href="__APP__">网站首页</a> |
            <a href="__APP__/Head/help/id/6.html" target="_blank">关于我们</a> |
            <a href="__APP__/Head/help/id/4.html" target="_blank">广告合作</a> |
            <a href="__APP__/Head/help/id/7.html" target="_blank">联系我们</a>
            <p>版权所有@ 备案粤2015ICOH33 leizhoudao.com</p>
        </section>
    </footer>
</body>
</html>
 <script>
     $(function(){
         $('.my-info-top a').tooltip({ trigger : 'hover'});
         $('.my-happy img').popover({ trigger : 'hover'});
         $(".member-menu li a[name = "+actionName+"]").addClass("my-active");
     });
 </script>