<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$list.title}-{$name}-{$sys.sys_name}</title>
    <include file='Public:header' />
    <section class="container" style="margin-top: 12px">
        <include file='Public:left-side' />
        <aside class="pull-right list-rt songti font12">
            <div class="list-daohang">
                <include file='Public:nav' />
            </div>
            <div class="content-top">
                <img src="__APP__{$list.pic}" width="210" height="160" class="pull-left" alt=""/>
                <span class="pull-left">
                   <h2>{$list.title}</h2>
                   <div class="font14" id="content-list" style="border-right: 1px dotted #ccc;">
                       <ul >
                           <li><span>发布时间：</span><time>{$list.add_time|date="Y/m/d",###}</time></li>
                           <li><span>所在地区：</span><time>{$list.area}</time></li>
                           <li><span>联系人：</span><time>{$list.linker}</time></li>
                           <li><span>类型：</span><time>{$list.type}</time></li>
                           <li><span>范围：</span><time>{$list.manage}</time></li>
                       </ul>
                   </div>
                    <div class="font14" id="content-list" style="margin-right: 0">
                        <ul>
                            <li><span>有效期：</span><span><?php
                                $now = $list['expire']-time();
                                $day= ceil($now/(3600*24));
                                if($day<=0){
                                   echo "<span class='red' style='text-align:left'>已过期</span>";
                                }else{
                                echo $day.'天';
                                }
                                ?>
                            </span>
                            </li>
                            <li><span>浏览次数：</span><time><strong class="green">{$list.hits}</strong> 次</time></li>
                            <li><span>微信：</span><time>{$list.weixin}</time></li>
                            <li><span>电话：</span><time><span class="red tel"><i>{$list.phone}</i></span></time></li>
                            <li><span>价格：</span><time>{$list.price}</time></li>
                        </ul>
                    </div>
                </span>
            </div>
            <div class="content-detail-info">
                 <span>详细信息</span>
            </div>
            <div class="centent-cn font14">
                {$list.content}
            </div>
            <div class="content-detail-info content-detail-noborder">
                <span class="pull-left">可能感兴趣</span>
            </div>
            <div class="list-marry font14 list-store" style="border: 0">
                <ul>
                    <volist name="rand" id="list">
                        <li class="pull-left">
                            <a href="{:U('House/detail',array('id' => $list['id']))}" title="{$list.title}" alt="{$list.title}" target="_blank"><img src="__APP__{$list.pic}" class="pull-left"/></a>
                        <span class="pull-right">
                            <h4><a href="{:U('House/detail',array('id' => $list['id']))}" target="_blank" title="{$list.title}">{$list.title|msubstr=0,21,'utf-8',true}</a></h4>
                            <p>类型：{$list.type}</p>
                            <p>经营：{$list.manage}</p>
                            <p>地址：{$list.address}</p>
                            <time class="text-muted">{$list.add_time|date="Y/m/d",###}<br>有效：<?php
                                $now = $list['expire']-time();
                                $day= ceil($now/(3600*24));
                                if($day<=0){
                                echo "已过期";
                                }else{
                                echo $day.'天';
                                }
                                ?>
                            </time>
                        </span>
                        </li>
                    </volist>
                </ul>
            </div>
            <include file='Public:say' />
        </aside>
    </section>
    <include file='Public:footer' />
    </body>
</html>