<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>相亲列表页--雷州半岛网站</title>
    <include file='Public:header' />
    <section class="container" style="margin-top: 12px">
        <include file='Public:left-side' />
        <aside class="pull-right list-rt songti font12 marrr-wrap">
            <div class="list-daohang">
                <include file='Public:nav' />
            </div>
            <div class="list-choice">
                <span class="pull-left">
                    <strong>对象范围：</strong>
                </span>
                <span class="pull-left">
                      <assign name="marry_range" value="$Think.config.marry_range"/>
                      <volist name="marry_range" id="marry_ranges">
                          <a href="__APP__/Marry/?ars={$marry_ranges}&bfs={$Think.get.bfs}&xfs={$Think.get.xfs}&tms={$Think.get.tms}" <if condition="$Think.get.ars eq $marry_ranges">class="orange-active"</if>>{$marry_ranges}</a>
                      </volist>
                </span>
            </div>
            <div class="list-choice">
                <span class="pull-left">
                    <strong>所在地区：</strong>
                </span>
                <span class="pull-left">
                      <assign name="marry_area" value="$Think.config.marry_area"/>
                      <volist name="marry_area" id="marry_areas">
                          <a href="__APP__/Marry/?ars={$Think.get.ars}&bfs={$marry_areas}&xfs={$Think.get.xfs}&tms={$Think.get.tms}" <if condition="$Think.get.bfs eq $marry_areas">class="orange-active"</if>>{$marry_areas}</a>
                      </volist>
                </span>
            </div>
            <div class="list-choice">
                <span class="pull-left">
                    <strong>青春年龄：</strong>
                </span>
                <span class="pull-left">
                       <assign name="marry_age" value="$Think.config.marry_age"/>
                        <volist name="marry_age" id="marry_ages">
                            <a href="__APP__/Marry/?ars={$Think.get.ars}&bfs={$Think.get.bfs}&xfs={$marry_ages}&tms={$Think.get.tms}" <if condition="$Think.get.xfs eq $marry_ages">class="orange-active"</if>>{$marry_ages}</a>
                        </volist>
                </span>
            </div>
            <div class="list-choice">
                <span class="pull-left">
                    <strong>有效时间：</strong>
                </span>
                <span class="pull-left list-count">
                       <assign name="w_time" value="$Think.config.w_time"/>
                        <volist name="w_time" id="w_times">
                            <a href="__APP__/Marry/?ars={$Think.get.ars}&bfs={$Think.get.bfs}&xfs={$Think.get.xfs}&tms={$w_times}" <if condition="$Think.get.tms eq $w_times">class="orange-active"</if>>{$w_times}</a>
                        </volist>
                <div>总共 <span class="red font14"><strong>{$count}</strong></span> 条</div>
                </span>
            </div>
            <if condition="!empty($list)">
            <div class="list-marry font14">
                <ul>
                    <volist name="list" id="list">
                    <li class="pull-left">
                        <a href="{:U('Marry/detail',array('id' => $list['id']))}" title="{$list.title}" alt="{$list.title}" target="_blank"><img src="__APP__{$list.pic}" class="pull-left"/></a>
                        <span class="pull-right">
                            <h4><a href="{:U('Marry/detail',array('id' => $list['id']))}" target="_blank" title="{$list.title}">{$list.title|msubstr=0,21,'utf-8',true}</a></h4>
                            <p>{$list.real_name}：{$list.age}岁</p>
                            <p>现在：{$list.address}</p>
                            <p>从事：{$list.work}</p>
                            <time class="text-muted">{$list.add_time|date="Y/m/d",###}<br>有效：<?php
                                $now = $list['expire']-time();
                                $day= ceil($now/(3600*24));
                                if($day<=0){
                                echo "已过期";
                                }else{
                                echo $day.'天';
                                }
                                ?>
                                </time>
                        </span>
                    </li>
                    </volist>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="text-center font14">
                {$page}
            </div>
            <else/>
            <p>此栏目暂时没有数据了!</p>
            </if>
        </aside>
    </section>
    <include file='Public:footer' />
</body>
</html>