@charset "UTF-8";
.songti{
    font-family: '宋体';
}
.font12{
    font-size: 12px;
}
.font14{
    font-size: 14px;
}
.red{
    color: red;
}
.green{
    color: green;
}
.orange{
    color: #FF4000;
}
.underline{
    text-decoration: underline;
}
.deep{
    color: #080808;
}
html{
    margin:0;
    padding:0;
}
ul,li{
    margin:0;
    padding:0;
    list-style: none;
}
.container{
    padding: 0;
    width: 1200px;
}
.list-group{
    padding: 15px 0 8px;
}
.logo{
    width: 175px;
}
.sub-logo{
    width: 265px;
    text-align: right;
}
.head-right{
    padding-top:10px;
    width: 977px;
}
.head-right input,.head-right button{
    float: left;
}
.sub-head-right{
    width: 910px;
}
.mynav{
    height: 42px;
    background: #1E8EFF;
    border-bottom: 4px solid #0076EC;
}
.mynav ul div{
    display: inline-block;
    float: left;
    width: 3px;
    height: 38px;
    background:url("../img/nav_bg.jpg") 0 top no-repeat;
}
.mynav-bg{
    margin-top: 62px !important;
}
.mynav-bg a{
    display: block;
    float: left;
    color: #fff;
    line-height: 42px;
    padding: 0 17px;
}
.mynav-bg a:hover{
    line-height: 38px;
    text-decoration: none;
    background: #409FFF !important;
}
.mynav-active{
    height: 38px;
    /*border-bottom: 2px solid #ccc;*/
     background: #409FFF !important;
 }
.my-notice{
    width: 200px;
}
.my-notice p{
    line-height: 1.5;
}
.my-notice-cn{
    padding:10px 15px 15px;
}
.my-showdroppic a{
    font-size: 100px;
    line-height: 318px;
}
.my-info-top{
    padding:10px 0;
}
.my-info-top li{
    line-height: 0.4 !important;
    padding-left:22px;
    background: url("../img/dot.gif") 14px 13px no-repeat;
}
.my-news{
    margin-left: 20px;
    width: 252px;
}
.my-qq{
    height: 128px;
    background: url("../img/pic1.gif") left 0 no-repeat;

}
.my-qq img{
    margin:25px 0 0 45px;
}
.my-qq a:nth-child(2) img{
    margin-left: 20px;
}
.my-more{
    height: 36px;
    border-bottom: 1px solid #E8E8E8;
}
.my-more span{
    line-height: 30px;
}
.my-more h4 + a,.my-more span + a{
    font-size: 12px;
    line-height: 32px;
    color: red;
}
.my-blue-bg{
    padding: 0;
    margin: 0;
    width:87px ;
    background:#1E8EFF ;
    color: #fff;
    line-height: 36px;
}
.my-exendnews{
    margin-left: 132px;
    line-height: 40px;
}
.my-showpic ul li{
    margin:10px 0 20px;
    margin-right: 32px;
    float: left;
    /*position: relative;*/
}
.my-showpic h4{
    margin:0;
    padding:0;
    width: 100%;
    /*position: absolute;*/
    position: relative;
    bottom: 25px;
    background: #000;
    background-color:rgba(0,0,0,0.3);
    line-height: 26px;
}
.my-showpic h4 a{
    color: #fff;
}
.my-marrylf,.my-marryrf{
    width: 570px;
}
.my-happy{
    margin-top:20px;
    height: 140px;
}
.my-happy li{
    width: 410px;
    padding-left:12px;
    background: url("../img/dot.gif") left 8px no-repeat;
    line-height: 24px;
}
.my-happy img{
    width: 120px;
    height: 120px;
}
.my-happy h4 a{color: #fff;}
.my-happy h4{
    margin:0;
    position: relative;
    bottom: 26px;
    background: #000;
    background-color:rgba(0,0,0,0.3);
    height: 26px;
    line-height: 26px;
}
.my-border-buttom{
    border-bottom: 1px dotted #E8E8E8;
}
.my-recruit ul{
    padding:0;
    padding-top:18px;
}
.my-recruit ul li{
    line-height: 25.4px;
}
.my-friendship{
    border-top: 1px solid #E8E8E8;
}
.my-friendship a{
    line-height: 36px;
}
.my-copy{
    font-family: '宋体';
    padding:20px 0;
    line-height: 24px;
    color: #555;
	font-size:12px;
}
.my-copy a{
    color: #555;
}
.login-logo{
    margin:20px 0 15px;
}
.logo-text{
   margin-top:-50px;
}
.login-wrap{
    height: 410px;
    background: #2693FF;
}
.login-inbg{
    height: 410px;
    background: url("../img/login-bg.jpg") left top no-repeat;
}
.login{
    margin-top: 30px;
    width: 400px;
    height:350px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.login h1{
    margin:0;
    padding-left:40px;
    font-size: 18px;
    background: #F8F8F8;
    color:#FFAA00 ;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
}
.login form{
    font-size: 12px;
    padding:17px 40px 0;
}
.login form div:nth-child(4){
    padding:0px 0 15px;
    line-height: 22px;
}
.login form div:nth-child(4) input[type=checkbox]{
    margin-right: 5px;
}
.login form input[type=text],.login form input[type=password]{
    height: 40px;
}
.login form button{
    height: 40px;
}
.login h3{
    font-size: 12px;
    padding:13px 0 17px;
    border-top: 1px dotted #ccc;
    background: url("../img/icon1.gif") 110px 10px no-repeat;
}
.login h3 a{
    width: 20px;
    height: 20px;
    margin-top: 0px;
    display: inline-block;
}
.login h3 a:hover{
    text-decoration: none;
}
.register{
    background: #F9F9F9;
    padding:15px 0 20px;
    border-top:1px solid #F0F0F0;
    box-shadow: 1px 1px 3px #ccc;
}
.register h2{
    margin-left: 200px;
    color: orange;
}
.register label{
    font-family: '宋体';
    font-weight: normal;
    color: #333;
    font-size: 12px;
    float: left;
    width: 200px;
    text-align: right;
}
.register div{
    margin-top: 20px;
}
.register input[type=text],.register input[type=password]{
    height: 36px;
    margin-left: 10px;
    float: left;
    width: 300px;
}
.register form div:nth-last-child(2) input[type=checkbox]{
    width: 14px;
    margin-right: 5px;
}
.register form div:nth-last-child(2){
    margin-top:-15px;
    line-height: 44px;
    height: 30px;
    overflow: hidden;
}
.register form div:nth-last-child(1) button{
    width: 200px;
    margin-left:10px;
}
.register input[type=checkbox]{
    margin-left: 10px;
}
.member-wrap{
    color: #1F1F1F;
    padding: 20px 0;
    margin-bottom: 20px;
    background: #73B9FF;
    box-shadow: 1px 1px 3px #ccc;
}
.member-wrap a{color: #1F1F1F}
.member-wrap div a + span{
    margin-left: 40px;
}
.member-menu{
    height: 500px;
    width: 187px;
    background: url("../img/lfmenubg.jpg") right top no-repeat;
    /*background: url("../img/mbmenu-bg.jpg") repeat-y;*/
}
.member-menu ul{padding:0}
.member-menu li{
    text-align: center;
    height: 40px;
    line-height: 38px;
    background: url("../img/mb-bt.jpg") 0 bottom no-repeat;
}
.member-menu li a{
    color: #333;
    display: block;
}
.member-menu li a:hover,.my-active{
    text-decoration: none;
    color: #fff !important;
    display: block;
    border-right: 3px solid #5BADFF;
    background: #73B9FF;
}
.member-right{
    width: 980px;
}
.member-daohang {
    font-size: 12px;
    color: #777;
    line-height: 38px;
    border-bottom: 1px dotted #ddd;
}
.member-daohang a{color: #777}
.member-info{
    position: relative;
    font-size: 12px;
}
.member-info label{
    font-weight: normal;
    float: left;
    width: 120px;
    text-align: right;
    margin-right: 10px;
}
.member-info input[type="text"]{
    font-size: 12px;
    width:190px;
}
.member-info select{
    height: 26px;
}
.member-info input[type=radio]{
    margin-top:8px;
}
.member-info .form-group div{
    float: left;
}
.member-info .form-group{
    margin-top:23px;
}
.member-photo{
    padding:15px 15px 12px;
    background: #F9F9F9;
    position: absolute;
    right: 0;
    top: 0;
    border:1px solid #EEEEEE;
}
.member-photo img{
    width: 100px;
    height: 100px;
    padding:2px;
    border:1px solid #ECECEC;
    border-radius: 50px;
}
.member-photo strong{
    width: 60px;
    display: inline-block;
    text-align: right;
}
.user-writeinfo th,.user-writeinfo td{width: 10%;text-align: center}
.user-writeinfo th:nth-child(1),.user-writeinfo td:nth-child(1){text-align: left;width: 48%;padding-left: 10px}
.user-writeinfo th:nth-child(2),.user-writeinfo td:nth-child(2){text-align: center;width: 12%;}
.modify-photo img{
    margin-bottom: 30px;
}
.modify-photo p{
    padding-top:10px;
    line-height: 28px;
    color: #797979;
}
.modify-thumb img{
    float:left;
    margin-left:20px;
    width: 100px;
    height: 100px;
    padding:2px;
    border:1px solid #ECECEC;
    border-radius: 50px;
    /*box-shadow: 1px 2px 3px #ccc;*/
}
.write-title{
    line-height: 60px;
}
.write-protocol{
    margin-top:20px;
    color: #FF7F00;
    background: #F9F9F9;
    border:1px solid #E8E8E8;
    padding:20px 0 0 57px;
}
.write-protocol dd{
    line-height: 22px;
}
.free-wrap{
    border: 1px solid #ececf0;
    box-shadow: 1px 1px 3px #ededed;
}
.write-menu{
    height: 40px;
    line-height: 40px;
    background:#F9F9F9;
}
.write-menu ul li a{
    color: #333;
    float: left;
    text-align: center;
    padding:0 23px;
    display: block;

}
.white-active{
    background: #fff;
}
.bluebg-active{
    background: #73B9FF;
    color: #fff;
    cursor: pointer;
}
.write-menu li a:hover{
    text-decoration: none;
    background: #ededed;
    cursor: pointer;
}
.write-info{
    border:1px solid #DEDEDE;
    box-shadow: 1px 1px 3px #ddd;
    border-top: 0;
}
.write-info select{
    margin-left: 10px;
    height: 30px;
}
.write-cn{
    border-top: none;
    height: 100%;
    padding:20px;
    overflow: hidden;
}
.write-cn a{
    float: left;
    display: block;
    margin-left: 12px;
    margin-bottom: 8px;
    width: 102px;
    text-align: center;
    line-height: 30px;
}
.write-cn a:hover{
    background: orange;
    color: #fff;
    text-decoration: none;
}
.wid120{width: 120px !important}
.wid250{width: 250px !important}
.wid512{width: 512px !important}
.text-area textarea{
    float: left;
    display: inline-block;
    margin-left: 10px;
    margin-top:-10px !important;
    height: 111px !important;
}

.write-redtext{
    margin-left: 10px;
    line-height: 30px;
}
.write-info img{
    margin-left:12px;
}
.write-info div{
    margin-top: 10px;
}
.write-radio input[type=radio]{
    margin-top:-9px;
    margin-right: 5px;
}
.write-photo{
    margin-left: 15px;
    padding-top:20px;
    line-height: 20px;
}
.write-photo p{
    margin-top:8px;
}
.list-lf{
    width: 270px;
    margin:0;
}
.list-title{
    margin-bottom: 0;
    margin-left: 0;
    width: 265px;
}
.list-title .panel-heading{
    height: 34px !important;
    line-height: 16px;
    overflow: hidden;
}
.list-adver{
    margin:15px 0;
}
.list-daohang{
    color: #5F5F5F;
    line-height: 30px;
    border-bottom: 1px dotted #ddd;
}
.list-daohang a{color: #5F5F5F !important}
.daohang{
    font-size: 12px;
    line-height: 44px;
    font-family: '宋体';
    color: #6c6c6c;
}
.daohang a{color: #6c6c6c;}
.list-rt{
    width: 905px;
}
.list-rt a{
    color: #333;
}
.list-rt  div:nth-child(2){
    margin-top:15px;
    margin-bottom: 8px;
    height: auto;
    overflow: hidden;
}
.list-choice span:nth-child(1){
    width: 110px;
    text-align: right;
}
.list-choice span:nth-child(2){
    width: 785px;
}
.list-rt  .list-choice a{
    margin-right: 6px;
    line-height: 22px;
    margin-bottom: 8px;
    float: left;
    display: block;
    padding:0 9.1px;
    background: #F9F9F9;
}
.list-rt  .list-choice a:hover,.list-active{
    text-decoration: none;
    background:#FFA64D !important;
    color: #fff !important;
}
.list-count{
    position: relative;
}
.list-count div{
    position: absolute;
    right: 0;
    bottom: 6px;
}
.list-rt-address{
    position: relative;
    margin-bottom:8px;
}
.list-rt-address button{
    position: absolute;
    right: 0;
    top: 0;
}
.list-rt-address span:first-child{
    display: inline-block;
    text-align: right;
}
.list-rt-address a{
    margin-right: 5px;
    display: inline-block;
    line-height: 22px;
    padding:0 14px;
}
.list-rt-address a:hover,.list-addr-active{
    background: orange;
    color: #fff !important;
    text-decoration: none;
}
.list-rt-title ul{
    margin:0;
    margin-top:15px;
    margin-bottom: 15px;
    padding:0;
}
.list-rt-title a{
    padding-left: 10px;
    background: url("../img/dot.gif") left 7px no-repeat;
    font-size: 14px;
    color: #0078F0;
}
.list-rt-title td{
    text-align: center;
    width: 8%;
}
.list-rt-title td:nth-child(1){
    text-align: left;
    width: 50%;
}
.list-rt-title td:nth-child(2){
    text-align: center;
    width: 12%;
}
.list-store li img{
    width: 130px;
    height: 104px;
}
.list-store span{
    width: 310px !important;
}
.list-store li{
    margin-top: 23px !important;
}
.list-store li p{
    margin:0;
    line-height: 28px;
}
.list-store h4{
    margin:0;
    margin-bottom: 4px;
}
.marrr-wrap .list-choice{
    height: 30px ;
    margin-bottom: 0px !important;
}
.marrr-wrap .list-choice span:nth-child(1){
    width: 67px;
}
.list-marry {
    border-top: 1px dotted #ccc;
    margin-top: 10px;
    color: #525252;
}
.list-marry a{
    font-size: 14px;
    color: #1E8EFF;
}
.list-marry li{
    position: relative;
    margin-top:30px;
    width: 450px;
}
.list-marry li:last-child{
    margin-bottom:10px;
}
.list-marry time{
    position: absolute;
    right: 20px;
    top:40px;
    text-align: right;
    font-size: 12px;
}
.list-marry img{
    width: 110px;
    height: 130px;
    box-shadow: 2px 3px 2px #ccc;
}
.list-marry span{
    padding-left: 15px;
    width: 330px;
    display: inline-block;
}
.list-marry span:hover{background: #F6F6F6}
.content-top{
    color: #444;
}
.ma-detail-tb{
    /*width: 100% !important;*/
    width: 683px !important;
}
.ma-detail-tb .table-bordered td{
    border: 1px solid #ededed !important;
}
.ma-detail-tb td:nth-child(1),.ma-detail-tb td:nth-child(3){
    text-align: right;
    width: 15%;
    background: #FAFAFA;
}
.ma-detail-tb td:nth-child(2),.ma-detail-tb td:nth-child(4){
    width: 35%;
    text-align: left;
}
.content-top > span{
    padding-left:20px;
    width: 665px;
}
.content-top > span div {
    float: left;
    width: 290px;
}
.content-top h2{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #1E8DFF;
    margin:0;
    padding:0;
    line-height: 26px;
    padding-bottom: 5px;
}
.marry-top img{
    border-radius: 4px;
    border-image: ;
    margin-top:58px;
    box-shadow: 1px 1px 3px #ddd;
    width: 196px;
    height: 246px;
    padding:5px;
    border:1px solid #e9e9e9;
}
#content-list{
    width: 300px;
    margin: 0;padding: 0;display:inline-block !important;
    margin-right: 40px;
}
#content-list li{
    line-height: 27px;
}
#content-list ul li  span{
    width: 80px;
    text-align: right;
    display: inline-block;
}
#content-list time{
    color: #5F5F5F;
}
.tel{
    font-family: Arial;
    font-size: 16px;
}
.content-detail-info{
    height: 34px;
    border-bottom: 1px solid #EAEAEA;
}
.content-detail-info span:first-child{
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    line-height: 34px;
    width: 100px;
    text-align: center;
    background: #0078F0;
    color: #fff;
}
.centent-cn{
    padding:24px 15px 10px;
    color: #444;
    line-height: 26px;
}
.centent-cn p{
    text-indent: 2em;
}
.content-detail-noborder{
    margin-top:22px !important;
}
.content-msg{
    line-height: 22px;
    clear: left;
    padding:10px 0;
    height: 100%;
    overflow: hidden;
    border-bottom: 1px dotted #ddd;
}
.content-msg img{
    margin-right: 15px;
}
.content-msg p{
    color: #666;
}

.msg-write textarea{
    margin-top:20px;
    padding:15px;
}
.msg-write  + p{
    padding-top:10px;
}
.msg-write  + p >button{
    padding:0;
    height: 26px;
    line-height: 26px;
    width: 70px;
}
.register-success,.register-forget{
    margin:0 auto;
	padding:12px 0 25px;
	border:2px solid #F7F7F7;
	background:#FBFFF4;
	text-align:center;
}
.register-success span:nth-child(1){
	width:500px;
	text-align:right;
	margin-right: 20px;
	padding-top:66px;
}
.register-trip .form-group{
    height: 36px;
    overflow: hidden;
}
.register-forget{
    padding-top:25px;
    line-height: 32px;
}
.register-forget div{
    margin: 0 auto;width: 420px
}
.register-forget span{
    margin-left: 10px;
}
.register .help-block{
    float: left;
    display: block;
    margin-left:-22px;
    line-height: 28px;
    height: 28px;
    margin-right: 40px;
}

.register .form-control input{
    position: relative;
}
.register i{
    float: left;
    top:0px !important;
    position: relative;
    right:33px !important;
}
.mobile_msg a{
    position: absolute;
    left:308px;
    line-height: 22px;
    /*top:10px*/
}
.mobile_msg .help-block{
    position: absolute;
    left:424px;
    line-height: 28px;
}
.mobile_msg i{
    right:33px !important;
}
.width90{
    width: 90px !important;
}
.register-forget i{
    position: relative;
    top: -30px !important;
    left:320px;
}
.pwd-reset button{
    width:70px;
    margin-left:9px;
    margin-top:2px;
}
.write-info .file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 25px;

}
.write-info .file input {
    position: absolute;
    font-size: 100px;
    right: 10;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.write-info .file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
    cursor: pointer;
}
.write-info  .form-group{
    font-size: 14px;
}
#write-submit{
    height:42px;
    margin-top:18px;
}
#write-submit input[type=submit],#write-submit input[type=submit] disabled{
    height: 35px !important;
    margin-left: 12px;
}
.wrapnav{
    margin-top:10px;
    height: 36px;
}
.wrapnav a{
    display:inline-block;
    width:53px;
    margin-left:4px;
    margin-bottom:4px;
    line-height:24px;
    float:left;
    text-align:center;
    font-size:12px;
    background: #F9F9F9;
    color: #333;

}
.wrapnav a:hover,.orange-active{
    text-decoration: none;
    background: orange !important;
    color: #fff !important;
}
.wrap-nav{
    line-height: 46px;
    color: #666;
}
.wrap-nav a{color: #666;}