<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员中心-{$sys.sys_name}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="__PUBLIC__/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/assets/css/mycss.css" />
    <script src="__PUBLIC__/assets/js/jquery.min.js"></script>
    <script src="__PUBLIC__/assets/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/assets/js/my.js"></script>
    <script>
        var actionName = "{$Think.const.ACTION_NAME}";
    </script>
</head>
<body>
    <include file="Public:center-header"/>
    <section class="container">
        <include file="Public:sidebar"/>
        <block name="right"></block>
    </section>
    <include file="Public:footer"/>
</body>
</html>